/*****************************************
* Variables & Mixins
******************************************/

/* Variables
******************************************/
// Colors
$color_white: #fff;
$color_grey-light: #bfbfbf;
$color_grey-mid: #808080;
$color_grey-dark: #424141;
$color_black: #000;

// Margins
$margin_xl: 180px;
$margin_x: 70px;
$margin_m: 50px;
$margin_s: 35px;

// Fonts
$font_main: Helvetica, sans-serif;

/* Mixins
******************************************/
// States
@mixin state {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}
